.App {
  text-align: center;
}
span[id="navLink"]{
  font-size: 35px;
  margin: 20px;
}
span[id="navLink"]:hover{
  background: blue;
}


div[id="pageTitle"]{
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #2a7de1, #d3cdbd);
  padding: 10px 20px;

}

table[id="leaguesBar"]{
  background: black;
  width: fit-content;
  margin: 30px;
  border: 2px solid black;
  border-spacing: 0 5px;




}
tr[id="rowBar"]{
  font-size: 30px;
  background: rgba(241,232,232,0.68);

}



div[class="App"]{
  background: #d3cdbd;
}

